<ion-header>
  <ion-toolbar>
    <ion-title>Carreira Unica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title>Cursos</ion-card-title>
    </ion-card-header>

  </ion-card>

  <ion-list>

    <ion-item>
    
      <ion-label>
        <h1>Data: 16/12/2020</h1>
        <h2>Conteúdo: Boas Vindas e Aplicativo híbrido com Ionic.</h2>
        <h2>Professor: Tássio</h2>
        <h3>Suporte: Vanessa</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Data: 12/01/2021</h1>
        <h2>Conteúdo: Fundamentos da Linguagem C#</h2>
        <h2>Variáveis e tipos primitivos</h2>
        <h2>Métodos e funções</h2>
        <h2>O que é programação orientado a objetos?</h2>
        <h2>Classe x Objeto</h2>
        <h2>Professora: Jéssica</h2>
        <h3>Suporte: Vanessa e Tássio</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Data: 19/01/2021</h1>
        <h2>Herança</h2>
        <h2>Abstração</h2>
        <h2>Polimorfismo</h2>
        <h2>Encapsulamento</h2>
        <h2>Professora: Jéssica</h2>
        <h3>Suporte: Vanessa e Tássio</h3>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
